body {
    width: 100%;
    margin: 0 auto;

    /* overflow: hidden; */
    position: fixed;

}

.pages_container {
    display: flex;
    justify-content: center;
    margin: 0  auto;

}

.load {
    position: fixed;
    margin: 0  auto;
    left: 50%;
    top: 90%;
    background-color: transparent;
    stroke-width: 0;
    /* opacity: 0; */
    border: 0;
    transform: scale(12);
}
